Curso_NodeRed/Clase5/DashboardPersonalizada.json
[
    {
        "id": "72982ed34e8fa55e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0eebb023285aa14a",
        "type": "mqtt in",
        "z": "72982ed34e8fa55e",
        "name": "",
        "topic": "canalEducatronicos",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "619ffe2532033e07",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "e1b4d0c312e137f0"
            ]
        ]
    },
    {
        "id": "2d6946f7d198160b",
        "type": "debug",
        "z": "72982ed34e8fa55e",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "e1b4d0c312e137f0",
        "type": "json",
        "z": "72982ed34e8fa55e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "2d6946f7d198160b",
                "9d3ec3a79bca6590",
                "dc8d25047f795dbf",
                "117bf7eb7da4d42f",
                "6e46e13d3d4af455",
                "830503724dd41269",
                "fea91dd15b6d3530"
            ]
        ]
    },
    {
        "id": "9d3ec3a79bca6590",
        "type": "ui_text",
        "z": "72982ed34e8fa55e",
        "group": "2c2884ed20872170",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dispositivo",
        "format": "{{msg.payload.Dispositivo}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "dc8d25047f795dbf",
        "type": "ui_text",
        "z": "72982ed34e8fa55e",
        "group": "2c2884ed20872170",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Año",
        "format": "{{msg.payload.Anho}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "117bf7eb7da4d42f",
        "type": "ui_text",
        "z": "72982ed34e8fa55e",
        "group": "2c2884ed20872170",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Empresa",
        "format": "{{msg.payload.Empresa}}",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "6e46e13d3d4af455",
        "type": "ui_gauge",
        "z": "72982ed34e8fa55e",
        "name": "",
        "group": "974da384744c10e3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.Temperatura}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "className": "",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "830503724dd41269",
        "type": "ui_gauge",
        "z": "72982ed34e8fa55e",
        "name": "",
        "group": "69bf1834dad63ba0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{msg.payload.Humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "70",
        "seg2": "80",
        "className": "",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "fea91dd15b6d3530",
        "type": "ui_gauge",
        "z": "72982ed34e8fa55e",
        "name": "",
        "group": "c508201d88abe8fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "lux",
        "format": "{{msg.payload.Luminosidad}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "300",
        "className": "",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "bef67cabe22b1f14",
        "type": "ui_spacer",
        "z": "72982ed34e8fa55e",
        "name": "spacer",
        "group": "2c2884ed20872170",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "619ffe2532033e07",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c2884ed20872170",
        "type": "ui_group",
        "name": "Datos",
        "tab": "2328f75482cf1113",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "974da384744c10e3",
        "type": "ui_group",
        "name": "Monitoreo Temperatura",
        "tab": "2328f75482cf1113",
        "order": 2,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "69bf1834dad63ba0",
        "type": "ui_group",
        "name": "Monitoreo Humedad",
        "tab": "2328f75482cf1113",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c508201d88abe8fe",
        "type": "ui_group",
        "name": "Monitoreo Luminosidad",
        "tab": "2328f75482cf1113",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2328f75482cf1113",
        "type": "ui_tab",
        "name": "Estación Metereologica",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]